h1 { 
	font-family: 'Luckiest Guy', cursive;
	color: orange;
}

.banner {
	text-align: center;
	padding-top: 2%; 
}

.textForm {
	padding-left: 40.0%;
}

#message {
	padding: 15px 10px;
	font-size: 15px;
	border: none;
}

.button {
	border: none; 
	text-align: center; 
	background-color: orange; 
	color: white;
	text-decoration: none;
	padding: 15px 10px;
	font-size: 15px;
	font-family: 'Lato', 'Helvetica';
}

.button:hover {
	background-color: white;
	color: orange;
}

html, body {			
		height: 100%; 
		padding: 0; 
		margin: 0;
}

.container {
		width: 80%; 
		padding-left: 8%;
		height: 75%;
		text-align: left;
		border-style: solid;
}

p {
	margin: 0.5em 0;
	font-family: 'Lato', 'Helvetica', sans-serif, monospace; 
}

footer {
	width: 80%; 
	height: 5%; 
	text-align: center;
	font-family: 'Lato', 'Helvetica', sans-serif, monospace; 
	color: orange; 
	padding-left: 7.0%;
}

p:nth-child(even) {
    background: grey;
    color: white;
} 

hr {
	display: block;
	color: orange; 
	background-color: orange; 
	width: 80%; 
}

